.cover__title {
  margin: 0;
  max-width: 560px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-decoration: none;
  color:#FFFFFF;
  z-index: 2;
  text-align: center;
}
 
 @media screen and (max-width: 767px) {
   .cover__title {
     max-width: 288px;
     font-size: 32px;
     line-height: 1.05;
     
   }
 }